---
import SkillIcon from '@/components/about/SkillIcon.astro';
---

<section class="mx-auto mt-16 max-w-4xl bg-background px-4 lg:mt-20">
  <h2 class="mb-6 inline-block border-b-4 border-accent text-2xl font-semibold md:mb-4 lg:text-3xl">
    Skills
  </h2>

  <div class="flex flex-wrap justify-center gap-2 lg:justify-start">
    <SkillIcon className="devicon-html5-plain" />
    <SkillIcon className="devicon-css3-plain" />
    <SkillIcon className="devicon-javascript-plain" />
    <SkillIcon className="devicon-typescript-plain" />
    <SkillIcon className="devicon-react-plain" />
    <SkillIcon className="devicon-nextjs-plain" />
    <SkillIcon className="devicon-astro-plain" />
    <SkillIcon className="devicon-tailwindcss-original" />
    <SkillIcon className="devicon-cypressio-plain" />
    <SkillIcon className="devicon-playwright-plain" />
    <SkillIcon className="devicon-go-original-wordmark" />
    <SkillIcon className="devicon-mysql-plain" />
    <SkillIcon className="devicon-postgresql-plain" />
  </div>
</section>
