---
import SkillIcon from '@/components/about/SkillIcon.astro';
---

<section class="mx-auto mt-16 max-w-4xl bg-background px-4 lg:mt-20">
  <h2 class="mb-6 inline-block border-b-4 border-accent text-2xl font-semibold md:mb-4 lg:text-3xl">
    Tools
  </h2>

  <div class="flex flex-wrap justify-center gap-2 lg:justify-start">
    <SkillIcon className="devicon-git-plain" />
    <SkillIcon className="devicon-vite-original" />
    <SkillIcon className="devicon-webpack-plain" />
    <SkillIcon className="devicon-docker-plain" />
    <SkillIcon className="devicon-cloudflare-plain" />
    <SkillIcon className="devicon-firebase-plain" />
    <SkillIcon className="devicon-postman-plain" />
    <SkillIcon className="devicon-confluence-plain" />
    <SkillIcon className="devicon-jira-plain" />
  </div>
</section>
