---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/common/Header.astro';
import Skills from '@/components/about/Skills.astro';
import Tools from '@/components/about/Tools.astro';
import Experience from '@/components/about/Experience.astro';
import Activity from '@/components/about/Activity.astro';
import Footer from '@/components/common/Footer.astro';
---

<Layout title="About Me | Komo">
  <Header />
  <main>
    <div class="mx-auto max-w-4xl bg-background px-4 pt-20 lg:pt-24">
      <h1 class="text-3xl font-semibold lg:text-4xl"><span class="text-accent">A</span>bout Me</h1>
    </div>
    <Experience />
    <Skills />
    <Tools />
    <Activity />
  </main>
  <Footer />
</Layout>
