---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/common/Header.astro';
import Skills from '@/components/about/Skills.astro';
import Tools from '@/components/about/Tools.astro';
import Experience from '@/components/about/Experience.astro';
import Github from '@/components/about/GitHub.astro';
import Footer from '@/components/common/Footer.astro';
---

<Layout title="About Me">
  <Header />
  <div class="mx-auto mb-4 max-w-4xl bg-background px-4 pt-20 md:mb-14 md:pt-28">
    <h1 class="text-2xl font-bold md:text-3xl lg:text-4xl">About Me</h1>
  </div>
  <Experience />
  <Skills />
  <Tools />
  <Github />
  <Footer />
</Layout>
