---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/common/Header.astro';
import ProjectList from '@/components/projects/ProjectList.astro';
import Footer from '@/components/common/Footer.astro';
---

<Layout title="Projects | Komo">
  <Header />
  <main>
    <div class="mx-auto max-w-4xl bg-background px-4 pt-20 text-center lg:pt-24">
      <h1 class="inline-block text-3xl font-semibold lg:text-4xl">
        <span class="text-accent">P</span>rojects
      </h1>
      <p class="text-muted-foreground mt-4">これまでに手がけた主要なプロジェクトをご紹介します。</p>
    </div>
    <ProjectList />
  </main>
  <Footer />
</Layout>
