---
import ThemeToggle from './ThemeToggle.astro';

const navItems = [
  { name: 'Home', url: '/' },
  { name: 'About', url: '/about' },
  { name: 'Projects', url: '/projects' },
];
---

<header class="fixed z-50 w-full bg-background py-3 md:bg-transparent md:backdrop-blur-sm">
  <div class="mx-auto flex h-9 w-full max-w-6xl items-center justify-between px-4">
    <a href="/" class="text-xl font-bold text-primary">Komo</a>

    <div class="flex items-center gap-4">
      <nav class="hidden md:block">
        <ul class="flex space-x-6">
          {
            navItems.map((item) => (
              <li>
                <a
                  href={item.url}
                  class="relative box-border block text-foreground after:absolute after:bottom-0 after:left-0 after:h-[1px] after:w-0 after:bg-primary after:transition-all hover:after:w-full"
                >
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>

      <ThemeToggle />

      <button id="mobile-menu-button" class="text-foreground md:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
  </div>

  <!-- Mobile menu -->
  <div id="mobile-menu" class="hidden shadow-md md:hidden">
    <nav>
      <ul class="container mx-auto px-4 py-2">
        {
          navItems.map((item) => (
            <li class="py-2">
              <a href={item.url} class="block text-foreground transition-colors hover:text-primary">
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<script>
  const mobileMenuButton = document.getElementById('mobile-menu-button');
  const mobileMenu = document.getElementById('mobile-menu');

  if (mobileMenuButton && mobileMenu) {
    mobileMenuButton.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden');
    });

    // Close menu when clicking on a link
    const mobileLinks = mobileMenu.querySelectorAll('a');
    mobileLinks.forEach((link) => {
      link.addEventListener('click', () => {
        mobileMenu.classList.add('hidden');
      });
    });
  }
</script>
