---
import { Menu, X } from 'lucide-astro';
import ThemeToggle from '@/components/common/ThemeToggle.astro';

const navItems = [
  { name: 'Home', url: '/' },
  { name: 'About', url: '/about' },
  { name: 'Works', url: '/works' },
];

const pathname = Astro.url.pathname;
---

<header class="fixed z-50 w-full bg-background py-3 md:bg-transparent md:backdrop-blur-sm">
  <div class="mx-auto flex h-9 w-full max-w-4xl items-center justify-between px-4">
    <a href="/" class="text-xl font-bold">Komo</a>

    <div class="flex items-center gap-4">
      <nav class="hidden md:block">
        <ul class="flex space-x-6">
          {
            navItems.map((item) => (
              <li>
                <a
                  href={item.url}
                  class={`box-border block ${
                    pathname === item.url ? 'border-b-2 border-accent' : 'hover:opacity-60'
                  }`}
                >
                  {item.name}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>

      <ThemeToggle />

      <button id="mobile-menu-button" class="text-foreground md:hidden">
        <Menu id="mobile-menu-icon" class="h-6 w-6" />
        <X id="mobile-menu-icon-close" class="hidden h-6 w-6" />
      </button>
    </div>
  </div>

  <!-- Mobile menu -->
  <nav id="mobile-menu" class="hidden shadow-md md:hidden">
    <ul class="container mx-auto px-4 py-2">
      {
        navItems.map((item) => (
          <li class="py-2">
            <a href={item.url} class="hover: block text-foreground transition-colors">
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<script>
  const mobileMenuButton = document.getElementById('mobile-menu-button');
  const mobileMenu = document.getElementById('mobile-menu');
  const mobileMenuIcon = document.getElementById('mobile-menu-icon');
  const mobileMenuIconClose = document.getElementById('mobile-menu-icon-close');

  if (mobileMenuButton && mobileMenu && mobileMenuIcon && mobileMenuIconClose) {
    mobileMenuButton.addEventListener('click', () => {
      mobileMenu.classList.toggle('hidden');
      mobileMenuIcon.classList.toggle('hidden');
      mobileMenuIconClose.classList.toggle('hidden');
    });

    const mobileLinks = mobileMenu.querySelectorAll('a');
    mobileLinks.forEach((link) => {
      link.addEventListener('click', () => {
        mobileMenu.classList.add('hidden');
      });
    });
  }
</script>
