---
import { Moon, Sun } from 'lucide-astro';
---

<button
  id="theme-toggle"
  class="rounded-lg bg-accent p-2 hover:opacity-80"
  aria-label="Toggle dark mode"
>
  <Sun id="sun-icon" class="hidden h-5 w-5 dark:block" />
  <Moon id="moon-icon" class="h-5 w-5 text-white dark:hidden" />
</button>

<script>
  const THEME = {
    DARK: 'dark',
    LIGHT: 'light',
  } as const;

  type ThemeLiteral = (typeof THEME)[keyof typeof THEME];

  const getThemePreference = () => {
    const savedTheme = localStorage.getItem('theme');
    if (typeof localStorage !== 'undefined' && savedTheme) {
      return savedTheme as ThemeLiteral;
    }
    return window.matchMedia('(prefers-color-scheme: dark)').matches ? THEME.DARK : THEME.LIGHT;
  };

  const setTheme = (theme: ThemeLiteral) => {
    document.documentElement.classList.toggle('dark', theme === THEME.DARK);
    localStorage.setItem('theme', theme);
  };

  setTheme(getThemePreference());

  document.getElementById('theme-toggle')?.addEventListener('click', () => {
    const isDark = document.documentElement.classList.contains('dark');
    setTheme(isDark ? THEME.LIGHT : THEME.DARK);
  });
</script>
